<div class="jumbotron text-center">
	<h1>Your pizza cart</h1>
	<h2>If all Okay, Proceed to checkout!</h2>
</div>

<div class="formWrapper">
	<div id="cartError" class="formError text-center alert alert-danger"></div>
    <div id="cartSuccess" class="formSuccess alert alert-success" role="alert">Item deleted successfully</div>  
   
	<table id="carListTable" class="table">
	  <tr>
	    <th>Item name</th>
	    <th>Cost</th>
	    <th>Delete</th>
	  </tr>
	</table>

	<div id="checkoutButton" style="display: none; text-align: right">
		<a href="user/checkout" class="btn btn-lg btn-success">Checkout</a>
	</div>
</div>